<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BoardWithJPA</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/css/common.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">BoardWithJPA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">게시판</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {{#isLogin}}
      <li class="nav-item">
      	<a class="nav-link" href="/member/logout">로그아웃</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="/member/beforeMyInfo">내정보</a>
      </li>
      {{/isLogin}}
      {{^isLogin}}
      <li class="nav-item">
        <a class="nav-link" href="/member/login">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/member/signUp">회원가입</a>
      </li>
      {{/isLogin}}
    </ul>
  </div>
</nav>