{{>./common/header}}
<div class="container-fluid board-content-center" id="board-content">
    <div class="row justify-content-center align-items-center h-100">
    	<div class="col-lg-9 text-center">
			{{#board}}
			<div class="form-row">
				<div class="form-group col-lg-2">
					<input type="text" class="form-control" readonly value="1"/>
				</div>
				<div class="form-group col-lg-10">
					<input type="text" class="form-control" readonly value="제목"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-12">
					<textarea class="form-control" rows="10" readonly>내용</textarea>
				</div>
			</div>
			<button class="btn btn-outline-secondary float-right ml-2">목록</button>
			{{#writer}}
			<button class="btn btn-outline-secondary float-right">삭제</button>
			{{/writer}}
			{{/board}}
			{{^board}}
				글이 없음
			{{/board}}
    	</div>
    </div>
</div>
{{>./common/footer}}