{{>./common/header}}
<div class="container-fluid" id="signup-content">
    <div class="row justify-content-center align-items-center h-100">
    	<div class="col-lg-3">
			<form action="">
		        <div class="form-group">
		            <label for="username">아이디</label>            
		            <input type="text" class="form-control" id="username" name="username" maxlength="15">
		            <small id="dupId" class="form-text text-muted"><span class="text-danger">중복된 아이디가 존재합니다.</span></small>
		            <small id="ruleId" class="form-text text-muted"><span class="text-danger">영문자와 숫자를 포함한 20자를 입력해주세요.</span></small>
		        </div> 
		        <div class="form-group">
		            <label for="password">패스워드</label>            
		            <input type="password" class="form-control" id="password" name="password">
		        </div>
		        <div class="form-group">
		            <label for="passwordCheck">패스워드 확인</label>            
		            <input type="password" class="form-control" id="passwordCheck" name="passwordCheck">
		            <small id="rulePwd" class="form-text text-muted"><span class="text-danger">최소8자 이상 입력해주세요.</span></small>
		            <small id="eqPwd" class="form-text text-muted"><span class="text-danger">비밀번호와 비밀번호 확인이 일치하지 않습니다.</span></small>
		        </div>
		        <input type="button" class="btn btn-primary float-right" id="signUp" value="가입">  
	    	</form>
    	</div>
    </div>
</div>
<script src="/js/validation.js"></script>
{{>./common/footer}}